<a href="https://colab.research.google.com/github/MarkDahr/BTE320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cylindar Area Calculator

In [ ]:
r = int(input("Please provide the radius: "))
pi = 3.14
h = int(input("Please provide the height: "))
area = (2*pi*r**2) + (2*pi*r*h)
print("Area of cylinder: ",area)

Please provide the radius: 5
Please provide the height: 5
Area of cylinder:  314.0

Numerical Calculator

In [ ]:
n1 = float (input("Please enter a number 1: "))
n2 = float (input("Please enter a number 2: "))
op = input("Please enter the operation: ")

if op == "+":
  print (n1 + n2)
elif op == "-":
  print (n1 - n2)
elif op == "*":
  print (n1 * n2)
elif op == "/":
  print (n1 / n2)
elif op == "//":
  print (n1 // n2)
elif op == "**":
  print (n1 ** n2)
elif op == "%":
  print (n1 % n2)
else:
  print ("Invalid operator!")

Please enter a number 1: 5
Please enter a number 2: 5
Please enter the operation: **
3125.0

Parking Garage

In [ ]:
flatRate = 5
hourlyRate = 2.5

for h in range(1,9):
  charge = flatRate + hourlyRate * h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h,charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

Movie Theater

In [ ]:
print(f'Ad$ Profit')

init_attendees = 20
fixed_cost = 200

for advertising in range (0,201,25):
  ad = float(advertising)
  attendees = float(2*round(advertising**0.5) + init_attendees)
  profit = float((attendees * 10) - advertising - fixed_cost)
  print(f'{ad} ${profit}')

Ad$ Profit
0.0 $0.0
25.0 $75.0
50.0 $90.0
75.0 $105.0
100.0 $100.0
125.0 $95.0
150.0 $90.0
175.0 $85.0
200.0 $80.0

Rock Paper-Scissors

In [ ]:
import random

userinput = input("Would you like to play? (y/n) ")
while userinput == "y":
  user_choice = input('Choose rock, paper, or scissors: ')
  pc_choice = random.choice(['rock','paper','scissors'])

  if pc_choice == user_choice:
    print(f'The computer chose {pc_choice}. It\'s a tie!')
  elif (pc_choice == 'rock' and user_choice == 'paper') or (pc_choice == 'paper' and user_choice == 'scissors') or (pc_choice == 'scissors' and user_choice == 'rock'):
    print (f'The computer chose {pc_choice}! Congrats, you win!')
  else:
    print (f'The computer chose {pc_choice}. You lose. Maybe next time :(')
  userinput = input("Would you like to play again? (y/n) ")

print (f'It was fun playing! Bye!')

Would you like to play? (y/n) y
Choose rock, paper, or scissors: rock
The computer chose paper. You lose. Maybe next time :(
Would you like to play again? (y/n) n
It was fun playing! Bye!

Append Items to List Iteratively

In [ ]:
lst = []

while True:
  num = float(input('Give a number: '))
  if num == 0.0:
    break
  lst.append(num)
lst.sort(reverse=True)
lst

Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 2
Give a number: 3
Give a number: 2
Give a number: 2
Give a number: 0

[3.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]

Dynamic Dictionary of Number: Month Pairs

In [ ]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ['January','February','March','April','May','June','July','August','September','October','November','December']

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

months

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

Dynamic Dictionary; 5 Distinct Key: Value Pairs

In [ ]:
counts = {}

while len(counts) < 5:
  key = input("Give a string: ")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] += 12
counts

Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 2
Give a string: 5
Give a string: 6
Give a string:
Give a string: 7

{'2': 16, '5': 1, '6': 1, '': 1, '7': 1}

Parking Garage: calcFee Function

In [ ]:
def displayFee (fee):
  print(fee)

def calcFee (hours, decimals=2) :
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

if __name__ == "__main__":
  h = int(input('Enter number of hours: '))
  displayFee(calcFee(h))

Enter number of hours: 19
52.5

Recursive function: string reversal

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return s[-1] + reverse(s[1:-1]) + s[0]
        return reverse(s[1:]) + s[0]
        return s[-1] + reverse(s[:-1])

reverse('Hello')

'olleH'

Parking garage/1st question of Assignment II using exception handling

In [ ]:
def calcFee(hours):
    assert hours >= 0, "The number of hours should be non-negative..."
    fee = 5 + 2.5 * hours
    if fee < 10:
        fee = 10.0
    elif fee > 20:
        fee = 20.0
    print(f'Fee: {fee}$')


def main():
    try:
        numHours = int(input('Enter number of hours: '))
        calcFee(numHours)
    except ValueError:
        print('Cannot cast to int().')

if __name__ == "__main__":
    main()

def getValues(n):
    L = []
    for i in range(n):
        weight = float(input('Enter weight: '))
        L.append(weight)
    return L


def calcAverage(alist):
    try:
        print(f'The average weight is: {sum(alist[2:]) / len(alist[2:])}')
    except ZeroDivisionError:
        print(f'List {alist} is empty!')


if __name__ == "__main__":
    try:
        n = int(input('Enter size of list: '))
        alist = getValues(n)
        calcAverage(alist)
    except ValueError:
        print('Input cannot be casted as an int()')

Enter number of hours: 10
Fee: 20.0$
Enter size of list: 5
Enter weight: 50
Enter weight: 50
Enter weight: 50
Enter weight: 50
Enter weight: 50
The average weight is: 50.0

Greeting class

In [ ]:
class Greeting:
    def __init__(self, first, last):
        self.first = first
        self.last = last

    def display(self, formal=False):
        if formal:
            print(f'Hi {self.first} {self.last}')
        else:
            print(f'Hi {self.first}')

    def __str__(self):
        return "{}, {}".format(self.first, self.last)
        return f'{self.first}, {self.last}'
        return str(self.first) + ", " + str(self.last)

greeting = Greeting('Donald', 'Becker')
greeting2 = Greeting('Bob', 'Dylan')
greeting.display(formal=True)
print(greeting)
print(greeting2)

Hi Donald Becker
Donald, Becker
Bob, Dylan

Student class

In [ ]:
class Student:
  def __init__(self, name, number):
    self.__name = name
    self.number = number

  def set_name(self, newName):
    self.__name = newName

  def get_name(self):
    return self.__name

  def __repr__(self):
    return f'Name: {self.__name}'

In [ ]:
s1 = Student("Johnny Walker", "111")
s2 = Student("Jose Cuervo", "222")

In [ ]:
s2.get_name()

'Jose Cuervo'

In [ ]:
class Student:
  def __init__(self, name, number):
    self.__name = name
    self.number = number
    self.__courses = []

  def enroll (self,newCourse):
    if newCourse not in self.__courses:
      self.__courses.append(newCourse)
      print(f'Successfully enrolled in {newCourse}')
    else:
      print(f'You have already enrolled in {newCourse}')

  def get_courses(self):
    return self.__courses

In [ ]:
s = Student('Mark', '12345')

In [ ]:
s.enroll('ABC444')

You have already enrolled in ABC444

Classes Point and Rectangle

In [1]:
import math

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def distance(self, other):
        dx = (self.x - other.x) ** 2
        dy = (self.y - other.y) ** 2
        dist = math.sqrt(dx + dy)
        return dist

p1 = Point(1, 7)
p2 = Point(4, 3)
p1.distance(p2)

class Rectangle:
    def __init__(self):
        self.c1 = Point(0, 0)
        self.c2 = Point(0, 2)
        self.c3 = Point(2, 0)
        self.c4 = Point(2, 2)
        self.width = self.calculate_width()
        self.length = self.calculate_length()

    def calculate_width(self):
        return self.c1.distance(self.c3)

    def calculate_length(self):
        return self.c1.distance(self.c2)

    def area(self):
        return f'Area = {(self.width * self.length)} sq. ft.'

square = Rectangle()
square.area()

'Area = 4.0 sq. ft.'